.popup {
  color: var(--textColor);
  background-color: var(--background-color);
  border: 5px solid var(--secondaryColor);
  text-align: center;
  font-style: normal;
  width: 400px;
}

h1 {
  border-bottom: 5px solid var(--secondaryColor);
  font-size: 18px;
  color: var(--headerTextColor) !important;
}

.popupButton {
  position: relative;
  text-align: center;
  list-style: none;
  height: 45px;
  justify-content: center;
  align-content: space-evenly;
  cursor: pointer;
  width: 125px;
  box-sizing: border-box;
  margin: 15px;
  /* Hinzugefügt für die Box */
  border-radius: 30px;
  font-size: 18px;
  transition: width 0.3s;
  background-color: rgba(244, 255, 237, 0.36);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--buttonTextColor);
  border: none;
}

.timerButtons {
  justify-content: space-evenly;
}


.timerInput {
  border-radius: 40px;
  font-size: 18px;
  border: none;
  background-color: #D9D9D9;
  width: 80%;
  text-align: center;
}

.options {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding-left: 20px;
  line-height: 150%;
}

.titleMultivote {
  padding-right: 20px;
}

.titleTimer {
  padding-right: 48px;
}

