<div class="popup">
  <h1 mat-dialog-title> {{ data.stage === "brainstorming" ? "Brainstorming" : "Voting" }} Options</h1>

  <div class="options">
    <p class="titleTimer"> Timer?</p>
    <form id="selectTimer">
      <input type="radio" id="No" name="timerOption" value="No" [(ngModel)]="selectedOption">
      <label for="No">No&nbsp;</label><br>
      <input type="radio" id="Yes" name="timerOption" value="Yes" [(ngModel)]="selectedOption">
      <label for="Yes">Yes</label>
    </form>
    <mat-form-field>
      <input class="timerInput" [(ngModel)]="data.timer" type="number" id="numberInput" name="numberInput" min="1"/>
    </mat-form-field>

  </div>
  <div class="options" *ngIf="data.stage==='voting'">
    <p class="titleMultivote">Multivote?</p>
    <form>

      <input type="radio" id="NoMultivote" name="votingOption" value="No" [(ngModel)]="votingOption">
      <label for="NoMultivote">No&nbsp;</label><br>
      <input type="radio" id="YesMultivote" name="votingOption" value="Yes" [(ngModel)]="votingOption">
      <label for="YesMultivote">Yes</label><br>
    </form>

  </div>
  <div class="timerButtons">
    <button [disabled]="selectedOption==='Yes' && data.timer === undefined" [mat-dialog-close]="data"
            (click)="onStartClick()" class="popupButton">
      Start
    </button>
  </div>
</div>
