<div class="question">{{ ideaEvent?.question }}</div>

<ng-container *ngIf="ideaEvent">
  <div [style.visibility]="ideaEvent.timer !== undefined ? 'visible' : 'hidden'">
    <div class="timer" *ngIf="ideaEvent!.timer! > 0; else timeUp">
      Timer: {{ ideaEvent.timer }}
    </div>
  </div>
  <ng-template #timeUp>
    <div class="timer"> Time is up!</div>
  </ng-template>
</ng-container>

<!-- Stage: initial -->
<ng-container *ngIf="stage === 'initial'">
  <ng-container *ngTemplateOutlet="brainstormingControls"></ng-container>
</ng-container>

<!-- Stage: brainstorming -->
<ng-container *ngIf="stage === 'brainstorming'">
  <button class="brainstormingButton startBrainstorming" (click)="stopBrainstorming()">
    Stop brainstorming
  </button>
  <button class="brainstormingButton" type="button" (click)="addSticky()">Add Sticky</button>
  <ng-container *ngTemplateOutlet="hideButton"></ng-container>
</ng-container>

<!-- Stage: afterBrainstorming -->
<ng-container *ngIf="stage === 'afterBrainstorming'">
  <div>
    <ng-container *ngTemplateOutlet="brainstormingControls"></ng-container>
    <ng-container *ngTemplateOutlet="hideButton"></ng-container>
      <button class="brainstormingButton startVoting " type="button" (click)="openVotingDialog()">
        Start Voting
      </button>
  </div>
</ng-container>

<!-- Stage: voting -->
<ng-container *ngIf="stage === 'voting'">
  <button class="brainstormingButton startBrainstorming" style="display: inline" type="button" (click)="stopVoting()">
    StopVoting
  </button>
  <ng-container *ngTemplateOutlet="hideButton"></ng-container>
</ng-container>

<!-- Brainstorming Start/Resume Button - shown on initial and afterBrainstorming, but with a different text-->
<ng-template #brainstormingControls>
  <button class="brainstormingButton startBrainstorming" (click)="openBrainstormingTimerDialog()">
    {{ stage === "initial" ? "Start" : "Resume" }} brainstorming
  </button>
  <button class="brainstormingButton" type="button" (click)="addSticky()">Add Sticky</button>
</ng-template>

<ng-template #hideButton>
  <button class="brainstormingButton hideButton" (click)="toggleAllStickies()"><i
    [class]="stickyContentVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i></button>
</ng-template>

<app-inf-whiteboard ></app-inf-whiteboard>
