.footerShee.footer-presenter-dark {
  background-image: url("src/assets/SVG/Grafik_Footer_Presenter_desktop_dark.svg");
}

/* Stile für Light Mode */
.footerShee.footer-presenter-light {
  background-image: url("src/assets/SVG/Grafik_Footer_Presenter_desktop_light.svg");
}

@media screen and (min-width: 667px) and (max-height: 428px){
  .footerShee {
    background-size: 100% auto;
    background-position: bottom;
    position: static;
  }
}

@media screen and (min-width: 1500px) {
  .footerShee {
    background-size: 100% auto;
    background-position: bottom;
    position: fixed;
  }
}
