h1 {
  color: var(--titleColor);
  text-align: center;
  font-size: 32px;
  font-family: 'Baloo Bhaina', sans-serif;
  margin-bottom: 20px;
}

.module-select {
  text-align: center;
  color: var(--textColor);
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 20px;
}

.p-description, input {
  margin-left: 2em;
  margin-right: 2em;
  display: block;
  width: calc(100% - 4em);
}

.p-description {
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  color: var(--textColor);
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 20px;
  text-align: center;
}

.p-name {
  padding-left: 0.6em;
  text-transform: capitalize;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  color: var(--textColor);
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 25px;
  text-align: center;
}

.initializer-button {
  text-align: center;
  border-radius: 30px;
  font-family: 'ChunkFive', sans-serif;
  font-size: 18px;
  transition: width 0.3s;
  background-color: rgba(244, 255, 237, 0.36);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--buttonTextColor);
  border: none;
  margin-top: 20px;
  width: 250px;
  height: 45px;
}

.initializer-dropdown {
  text-align: center;
  width: 325px;
  height: 57px;
  border-radius: 30px;
  background-color: var(--inputColor);
  border: none;
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom :40px;
}

.center {
  text-align: center;
}

input{
  border-radius: 30px;
  background-color: var(--inputColor);
  border: none;
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom :40px;
  text-align: center;
  width: 447px;
  height: 38px;
}
.input-flex {
  display: flex;
  justify-content: center;
}

.addDeleteBtn {
  text-align: center;
  border-radius: 30px;
  font-family: 'ChunkFive', sans-serif;
  font-size: 18px;
  transition: width 0.3s;
  background-color: rgba(244, 255, 237, 0.36);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--buttonTextColor);
  border: none;
  width: 50px;
  height: 38px;
}

li {
  display: flex;
}

.addBtn {
  align-self: center;
}

ul {
  display: flex;
  flex-direction: column;
}

.spacer{
  text-align: center;
  border-radius: 30px;
  font-family: 'ChunkFive', sans-serif;
  font-size: 18px;
  transition: width 0.3s;
  background-color: rgba(244, 255, 237, 0.36);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--buttonTextColor);
  border: none;
  width: 50px;
  height: 38px;
}
