<h1>Module Initializer</h1>
<form *ngIf="modules">
  <div class="center">
    <label class="module-select" for="module-select">Select Module</label>
    <br>
    <select class="initializer-dropdown" id="module-select" name="module-select" [(ngModel)]="selectedModuleString">
      <option *ngFor="let module of modules" [value]="module.name">{{module.name}}</option>
    </select>
  </div>
</form>

<div *ngFor="let parameter of selectedModule(selectedModuleString).parameters">
  <label [for]="parameter.name">

    <div class="p-name">
      {{parameter.name}}
    </div>
    <div class="p-description">
      {{parameter.description}}
    </div>

  </label>
  <div class="input-flex">
    <ul>
      <li *ngFor="let answer of parameter.value; let i = index; trackBy:trackByIndex">
        <input type="text" [id]="parameter.name" [name]="parameter.name" [(ngModel)]="parameter.value[i]"
               [required]="parameter.required"/>
        <button class="addDeleteBtn" *ngIf="parameter.value.length>1 && i>1" (click)=parameter.value.splice(i,1)>-
        </button>
      </li>
      <button class="addDeleteBtn addBtn" *ngIf="parameter.value.length>1" (click)="addAnswer(parameter.value)">+</button>
    </ul>
  </div>
</div>

<div class="center">
  <button class="initializer-button" type="button" (click)="initializeModuleWithParams()">Initialize Module</button>
</div>

