<h1>Module Initializer</h1>
<form *ngIf="modules">
  <div class="center">
    <label class="module-select" for="module-select">Select Module</label>
    <br>
    <select class="initializer-dropdown" id="module-select" name="module-select" [(ngModel)]="selectedModuleString">
      <option *ngFor="let module of modules" [value]="module.name">{{module.name}}</option>
    </select>
  </div>

  <div *ngFor="let parameter of selectedModule(selectedModuleString).parameters">
    <label [for]="parameter.name">

      <div class="p-name">
        {{parameter.name}}
      </div>
      <div class="p-description">
        {{parameter.description}}
      </div>

    </label>
    <div class="input-flex">
    <input type="text" [id]="parameter.name" [name]="parameter.name" [(ngModel)]="parameter.value"
           [required]="parameter.required"/>
    </div>
  </div>

  <div class="center">
    <button  class="initializer-button" type="button" (click)="initializeModuleWithParams()">Initialize Module</button>
  </div>
</form>
