.footer-client {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover; /* Bildgröße anpassen */
  background-position: top; /* Bildposition zentrieren */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; /* Breite auf 100% setzen */
  height: 30%;
  z-index: -1;
}

.footer-client.footer-client-dark {
  background-image: url("src/assets/SVG/Grafik_Footer_Client_desktop_dark.svg");
}

/* Stile für Light Mode */
.footer-client.footer-client-light {
  background-image: url("src/assets/SVG/Grafik_Footer_Client_desktop_light.svg");
}

@media screen and (max-width: 768px) {
  .footer-client {
    background-size: 100% auto;
    background-position: bottom;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-client {
    background-size: 100% auto;
    background-position: bottom;
  }
}

@media screen and (min-width: 1700px) {
  .footer-client {
    background-size: 100% auto;
    background-position: bottom;
  }
}

@media screen and (min-width: 1824px) {
  .footer-client {
    background-position: bottom;
  }
}

