:host {
  display:block;
  background-color: transparent;
  padding: 0.8em;
  font-family: 'ChunkFive', sans-serif;
}

.question {
  position: absolute;
  width: 80vw;
  top: 130px;
  bottom: calc(var(--user-input-height) + 30px);
  font-family: 'Baloo Bhaina', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: var(--titleColor);
}

h4{
  color: aqua;
  font-weight: lighter;
  text-align: center;
}

.bar-chart {
  display: flex;
  flex-direction: column;
}

.bar-chart-item {
  margin-bottom: 10px;
}

.bar-label {
  margin-bottom: 5px;
}

.bar-container {
  background-color: rgba(244,255,237,0.36);
  height: 40px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 14px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.bar {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
  width: 60%;
  border-radius: 14px;
  background-color: white;
}

.bar-value {
  color: rgb(0,0,0,0.87);
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--textColor);
}

.bar-container:hover + .hidden {
  display: block;
  text-align: center;
  padding: 0.5em;
}
.hidden {
  display: none;
}

.voted {
  color: darkgreen;
}
.diff {
  color: indianred;
}
.timer {
  position: relative;
  color: var(--secondaryColor);
  font-family: 'Baloo Bhaina', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

