:host {
  display:block;
  background-color: transparent;
  padding: 0.8em;
  font-family: 'ChunkFive', sans-serif;
}

h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 3em;
  letter-spacing: 0.15em;
  text-shadow: 1px 1px black;
  font-size: 20px;
  color: var(--textColor);
}

h4{
  color: aqua;
  font-weight: lighter;
  text-align: center;
}

.bar-chart {
  display: flex;
  flex-direction: column;
}

.bar-chart-item {
  margin-bottom: 10px;
}

.bar-label {
  margin-bottom: 5px;
}

.bar-container {
  background-color: rgba(244,255,237,0.36);
  height: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 14px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.bar {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
  width: 60%;
  border-radius: 14px;
}

.bar-value {
  color: var(--textColor);
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--textColor);
}
