<!--How to use the presenter-->
<div *ngIf="questionEvent">
  <div *ngIf="!questionEvent.question || !questionEvent.answers">
    <h4>Enter a valid url that includes params for question and answers.</h4>

    <h4 *ngIf="!questionEvent.question">You forgot the <strong>question</strong>! It should look like this -> /roomname/presenter?interaction=poll&question=question&answers=answer1,answer2,answer3</h4>
    <h4 *ngIf="!questionEvent.answers">You forgot the <strong>answers</strong>! It should look like this -> /roomname/presenter?interaction=poll&question=question&answers=answer1,answer2,answer3</h4>
  </div>


</div>

<!--Show question-->
<h3 *ngIf="questionEvent">{{questionEvent.question}}</h3>

<!--Show answers-->
<ul *ngIf="questionEvent && questionResponses">
  <li *ngFor="let answer of questionEvent.answers; let i = index;">
    <span class="badge" style="flex: 1">{{questionResponses[i]}}</span>
    <span style="flex: 8"> {{answer}} </span>
  </li>
</ul>


