<!--Show question-->
<br>
<div *ngIf="questionEvent && accumulatedClientChoices" class="bar-chart">
  <h3>{{questionEvent.question}}</h3>
  <div *ngFor="let answer of questionEvent.answers; let i = index" class="bar-chart-item">
    <div class="bar-label container">{{answer}}</div>
    <div class="bar-container">
      <div class="bar" [style.width.%]="getPercentage(i)">
        <div *ngIf="getPercentage(i) != 0">
          <span class="bar-value">{{getPercentage(i) | number:'1.0-0'}}%</span>
        </div>
      </div>
    </div>
    <ng-template #timeUp>Time is up!</ng-template>
  </div>
</div>

<!--How to use the presenter-->
<ng-template #wrongFormat>
  <h4>Enter a valid url that includes params for question and answers.</h4>
  <!-- show missing components in ulr -->
  <div *ngIf="questionEvent">
    <h4 *ngIf="!questionEvent.question">You forgot the <strong>question</strong>!</h4>
    <h4 *ngIf="!questionEvent.answers">You forgot the <strong>answers</strong>!</h4>
  </div>
  <h4>It should look like this ->
    /roomname/presenter?interaction=poll&question=question&answers=answer1,answer2,answer3</h4>
</ng-template>



