<!--Show question-->
<br>
<div *ngIf="questionEvent && accumulatedClientChoices" class="bar-chart">
  <h3>{{questionEvent.question}}</h3>
  <div *ngIf="questionEvent.timer !== undefined">
    <div class="timer" *ngIf="questionEvent.timer > 0; else timeUp">
      Timer: {{ questionEvent.timer }}
    </div>
  </div>
  <ng-template #timeUp>
    <div class="timer"> Time is up!</div>
  </ng-template>
  <div *ngFor="let answer of questionEvent.answers; let i = index" class="bar-chart-item">
    <div class="bar-label container">{{answer}}</div>
    <div class="bar-container">
      <div class="bar" [style.width.%]="getPercentage(i)">
        <div *ngIf="getPercentage(i) != 0">
          <span class="bar-value">{{getPercentage(i) | number:'1.0-0'}}%</span>
        </div>
      </div>
    </div>
    <div class="hidden">
      <div class="voted">
       <span *ngFor="let user of accumulatedClientChoices[i].users">
         {{user}}
       </span>
      </div>
      <div class="diff">
        <span *ngFor="let userMissing of getMissingUsers(accumulatedClientChoices[i].users)">
           {{userMissing}}
        </span>
      </div>
    </div>
  </div>
</div>



