.v-message {
  color: var(--textColor);
}

img{
  width: 17vw;
}

.is-public {
  color: var(--textColor);
}

.is-public span {
  color: var(--secondaryColor);
}

hr {
  background: var(--textColor);
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.user{
  margin-right: 20px;
  color: var(--secondaryColor);
}
