.v-message {
  color: var(--textColor);
}

img{
  width: 17vw;
}

.is-public {
  color: var(--textColor);
}

.is-public span {
  color: var(--secondaryColor);
}

hr {
  background: var(--textColor);
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.user{
  margin-right: 20px;
  color: var(--secondaryColor);
}
