<div class="v-message">
  <div>
    <h2>Counter</h2>
    <div>{{connectedParticipants}}</div>
  </div>
  <!-- QR-Code implemented -->
  <div class="qr-code">
    <img height="400px" [src]="qrCodeUrl" alt="QR Code">
  </div>
  <h4 class="is-public is-size-4" *ngIf="isPublic">Provide your <span>real name</span> please  <hr> Paired: </h4>
  <div  class="is-public is-size-4 container" *ngIf="isPublic && connectedParticipants != 0">
    <div *ngFor="let user of users" class="user">{{user}}</div>
  </div>
</div>


