<div class="container">
  <div *ngIf="voted;else showQuestion" class="v-message">
    <div>
      You voted
    </div>
    <img src="assets/thx.png" alt="thx-emoji" width="100px">
  </div>
  <ng-template #showQuestion>
    <ng-container *ngIf="questionEvent?.answers; then selector"></ng-container>


    <ng-template #selector>
      <div class="answers content is-large">
        <div
          *ngFor="let answer of questionEvent?.answers; let i = index;"
          (click)="voteForQuestion(i)"
          class="answer"
          [style.border-top-width]='i != 0 ? "3px" : "0"'
        >
    <span>
      {{answer}}
    </span>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
