<!-- new navbar -->
<nav class="navbar is-mobile" [ngClass]="{'navbar-light': mode === Mode.LIGHT, 'navbar-dark': mode === Mode.DARK}">
  <div class="navbar-menu">
    <div class="navbar-brand"></div>
    <div class="navbar-start is-justify-content-center">
      <!-- roomname -->
      <div class="navbar-item group-name">
        <div>
          <div *ngIf="groupService.getGroupName" class="title is-3">
            <div >
              <h1><code>&lt;</code>{{groupService.getGroupName()}}<span style="color: red">{{envName}}</span><code>&gt;</code> </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- darkmodeswitch -->
    <div class="navbar-end">
      <div class="navbar-item is-center">
        <app-mode-toggle></app-mode-toggle>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
