<!-- new navbar -->
<div class="navbar is-mobile">
  <div class="navbar-brand"><h1>TEst</h1></div>
  <div class="navbar-menu">


    <div class="navbar-start is-justify-content-center">

      <!-- roomname -->
      <div class="navbar-item">
        <div>
          <div *ngIf="groupService.getGroupName; else NoGroup" class="title is-3">
            <div>
              <h1>{{groupService.getGroupName()}}</h1>
            </div>
          </div>
          <ng-template #NoGroup>
            <div style="background:#f5f3ee">
              <div class="v-container">
                <div class="title is-1 heading">
                  <div>
                    <span class="v-abbreviation">V</span>irtual
                    <span class="v-abbreviation">A</span>udience
                    <span style="display: inline-flex; flex-direction: column">
               <span style="white-space: pre"><img src="assets/guru_nice_transparent.png" alt="guru-nice" width="100px"></span>
                <span> <span class="v-abbreviation">G</span>uru </span>
              </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- darkmodeswitch -->

    <div class="navbar-end">
      <div class="navbar-item is-center">
        <span>
          <div class="field">
          <input id="switchExample"  type="checkbox" name="switchExample"
                 class="switch is-small">
          <label for="switchExample"><i class="fa-solid fa-moon"></i></label>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<footer class="footer"></footer>
<router-outlet></router-outlet>
