.v-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.v-nav.small {
  height: 15vh;
}

.v-abbreviation {
  font-weight: 700;
  color: #3f51b5;
  color: whitesmoke;
}

.v-blue {
  background:#0B72D9;
}

.v-container{
  background-color: #F58B44;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

code {
  background-color: transparent;
  font-weight: bold;
  padding: 0.25em;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar{
  background: #1D2331;
  background-image: url("src/assets/SVG/Grafik_Header_Desktop_dark.svg");
  width: 100%;
  height: 125px;
  background-repeat: repeat-x;
  background-position: center top;
}

.navbar-start {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 78%;
  margin: 0 auto;
}
.navbar-brand{
  width: 12%;
}
.navbar-end{
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: 25px;
  width: 10%;
 }

.title{
  color: #ABABAB;
}
