.v-nav{
  /*height: 30vh;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.v-nav.small {
  height: 15vh;
}

.v-abbreviation {
  font-weight: 700;
  color: #3f51b5;
  color: whitesmoke;
}

.v-blue {
  background:#0B72D9;
}

.v-container{
  background-color: #F58B44;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

code {
  background-color: transparent;
  font-weight: bold;
  padding: 0.25em;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
