.no-scroll {
  overflow: hidden;
}

/*.zoom-in-cursor {*/
/*  cursor: zoom-in;*/
/*}*/

/*.zoom-out-cursor {*/
/*  cursor: zoom-out;*/
/*}*/

/*.grab-cursor {*/
/*  cursor: grab;*/
/*}*/

/*.grabbing-cursor {*/
/*  cursor: grabbing;*/
/*}*/


.canvas-container {
  margin-left:50px;
  margin-right: 50px;
}
