.main-content{
  line-height: 2;
  color: var(--textColor);
  font-style: normal;
  font-size: 20px;
}


.title {
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--titleColor);
}

input {
  display: block;
  border-radius: 40px;
  font-size: 18px;
  border: none;
  text-align: center;
  background-color: var(--inputColor);
  color: var(--inputTextColor);
}
.get-started-card {
  background-color: var(--buttonBackgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  font-size: 18px;
  word-break: break-word;
}

.get-started-button {
  border-radius: 30px;
  padding-inline: 10px;
  font-size: 18px;
  background-color: var(--buttonBackgroundColor);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--buttonTextColor);
  border: none;
}

.participant-link,.copy-icon {
  color: var(--secondaryColor);
}

/*copy icon*/
.fa-w-14 {
  transition: transform 0.3s ease;
}
/*copy icon*/
.fa-w-14:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/*copy icon*/
.fa-w-14:active {
  transform: scale(0.9);
}

.error-message{
  color: #af1313;
  font-size: 0.8em;
}

#button-text {
color: var(--buttonTextColor);
}


