*{
  color: var(--textColor);
  font-family: 'Baloo Bhaina', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 200;
}

.main-content{
  line-height: 2;
}


.title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--titleColor);
}

input {
  border-radius: 40px;
  font-size: 18px;
  border: none;
  text-align: center;
  background-color: var(--inputColor);
  color: var(--titleColor);
}

.get-started-card {
 background-color: var(--buttonBackgroundColor);
  text-align: center;
  border-radius: 30px;
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 18px;
}





