<div>
  <div *ngIf="participantHasVoted;else showQuestion" class="v-message">
    <div>
      <span class="v-message-white">
        You voted
      </span>
    </div>
    <img src="assets/thx.png" alt="thx-emoji" width="100px">
  </div>
  <ng-template #showQuestion>
    <ng-container *ngIf="questionEvent?.answers; then selector"></ng-container>

    <ng-template #selector>
        <div *ngIf="questionEvent">
          <div class="question">
            <div >{{questionEvent?.question}}</div>
            <div class="timer" *ngIf="questionEvent.timer !== undefined">
              <div  *ngIf="questionEvent.timer > 0; else timeUp">
                Timer: {{ questionEvent.timer }}
              </div>
            </div>
          </div>


        <ng-template #timeUp><span class="timer">Time is up!</span></ng-template>
        <div class="answers"
            [style.filter]="questionEvent.timer === 0 ? 'grayscale(100%)' : 'none'">
          <div
            *ngFor="let answer of questionEvent.answers; let i = index;"
            (click)="publishVoteForParticipant(i)"
            class="answer"
            [style.pointer-events]="questionEvent.timer === 0 ? 'none' : 'auto'">
    <span>
      {{answer}}
    </span>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
