.v-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  padding-top: 15%;
  position: relative;
}

.v-question {
  flex: 1;
  height: 84px;
  width: 388px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
  margin: 15px; /* Hinzugefügt für die Box */
  border-radius: 30px;
  font-family: 'ChunkFive', sans-serif;
  transition: width 0.3s;
  background-color: rgba(244,255,237,0.36);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--textColor);
}

.v-question span {
  font-size: 130%;
  letter-spacing: 0.05em;
}

.v-message-white {
  font-size: 130%;
  letter-spacing: 0.05em;
  color: var(--textColor);
}

.timer{
  font-size: 2rem;
  text-align: center;
  color: var(--textColor);
}


