<div>
  <div *ngIf="participantHasVoted;else showQuestion" class="v-message">
    <div>
      You voted
    </div>
    <img src="assets/thx.png" alt="thx-emoji" width="100px">
  </div>
  <ng-template #showQuestion>
    <ng-container *ngIf="questionEvent?.answers; then selector"></ng-container>

    <ng-template #selector>
      <div *ngIf="questionEvent">
        <div style="font-size: 3rem; text-align: center" *ngIf="questionEvent.timer !== undefined">
          <div *ngIf="questionEvent.timer > 0; else timeUp">
            Timer: {{ questionEvent.timer }}
          </div>
        </div>

        <ng-template #timeUp>Time is up!</ng-template>
        <div class="v-questions content is-large"
             [style.filter]="questionEvent.timer === 0 ? 'grayscale(100%)' : 'none'">
          <div
            *ngFor="let answer of questionEvent.answers; let i = index;"
            (click)="publishVoteForParticipant(i)"
            class="v-question"
            [style.pointer-events]="questionEvent.timer === 0 ? 'none' : 'auto'"
            [style.border-top-width]='i != 0 ? "3px" : "0"'>
    <span>
      {{answer}}
    </span>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
