/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}

:root {
  --backgroundColor_light: rgba(112, 170, 205);
  --backgroundColor_dark: rgba(29, 35, 49);
  --headerTextColor_light: rgba(0, 0, 0, 0.87);
  --headerTextColor_dark: rgba(171, 171, 171);
  --titleColor_light: rgba(0, 0, 0, 0.87);
  --titleColor_dark: rgba(171, 171, 171, 0.87);
  --textColor_light: rgba(0, 0, 0, 0.87);
  --textColor_dark: rgba(171, 171, 171, 0.87);
  --menuColor_light: rgba(0, 0, 0, 0.87);
  --menuColor_dark: rgba(171, 171, 171);
  --buttonTextColor_light: rgba(0, 0, 0, 0.87);
  --buttonTextColor_dark: rgba(255, 255, 255, 0.87);
  --secondaryColor_dark: rgba(0, 185, 185, 0.87);
  --secondaryColor_light: rgba(173, 25, 94, 0.87);
  --inputColor_light: rgba(250, 249, 246);
  --inputColor_dark: rgb(217, 217, 217);
  --inputTextColor: rgba(0, 0, 0, 0.87);
  --buttonBackgroundColor: rgba(255, 255, 255, 0.36);
}

html.dark {
  height: 100%;
  background-color: var(--backgroundColor_dark);
  background-image: url("src/assets/SVG/background_stars.svg");
  background-repeat: repeat-x;
  background-position-y: 100px;
}

html.light {
  height: 100%;
  background-color: var(--backgroundColor_light);
  background-image: url("src/assets/SVG/schwalben.svg");
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-position-x: 280px;
}

.v-message {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85vh;
  align-items: center;
}

.v-message > * {
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

body.light {
  --background-color: var(--backgroundColor_light);
  --headerTextColor: var(--headerTextColor_light);
  --titleColor: var(--titleColor_light);
  --textColor: var(--textColor_light);
  --menuColor: var(--menuColor_light);
  --buttonTextColor: var(--buttonTextColor_light);
  --secondaryColor: var(--secondaryColor_light);
  --inputColor: var(--inputColor_light);
  background-image: url("src/assets/SVG/sonne.svg");
  background-repeat: no-repeat;
  background-position: calc(0% - 200px) -100px;
  height: 100%;
  margin: 0;
}

body.dark {
  --background-color: var(--backgroundColor_dark);
  --headerTextColor: var(--headerTextColor_dark);
  --titleColor: var(--titleColor_dark);
  --textColor: var(--textColor_dark);
  --menuColor: var(--menuColor_dark);
  --buttonTextColor: var(--buttonTextColor_dark);
  --secondaryColor: var(--secondaryColor_dark);
  --inputColor: var(--inputColor_dark);
  background-image: url("src/assets/SVG/mond.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 200px) -120px;
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: transparent !important;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
}

.navbar-light {
  background-image: url("src/assets/SVG/wolken_navbar_hell.svg");
}

.navbar-dark {
  background-image: url("src/assets/SVG/wolken_navbar_dunkel.svg");
  --background-color: var(--backgroundColor_dark);
}

.navbar-start {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80%;
  margin: 0 auto;
}

.navbar-brand {
  width: 10%;
}

.navbar-end {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 25px;
  width: 10%;
  position: relative;
  left: 30px;
}

.group-name {
  margin-bottom: 50px;
}

@media screen and (min-width: 0px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.mat-mdc-dialog-container .mdc-dialog__title {
  font-family: 'ChunkFive', serif !important;
  color: var(--headerTextColor) !important;
}

.mat-mdc-form-field {
  text-align: center !important;
}



